<!doctype html>
<html lang="en">
<body>
  <form action="/submit_new_user" method='post'>
    Input username: <input name="username" required></input> (firstname.lastname) <br>
    Enter password: <input name="password" type="password" required><br>
    Re-Enter Password: <input name="re-enter-pass" type="password" required><br>
    <input type="hidden" name="random_number" value="{{random_num|safe}}"></input>
    <input type="submit">
  </form>

  <div id="flash_message">
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
      </ul>
   {% endif %}
{% endwith %}
  </div>
</body>
</html>
